<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyANx0kMPyRsy5kK3eczO2Cxyvg7X-qZCH4</string>
	<key>GCM_SENDER_ID</key>
	<string>723237587957</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.eights.TinderClone</string>
	<key>PROJECT_ID</key>
	<string>tinderclone-e050d</string>
	<key>STORAGE_BUCKET</key>
	<string>tinderclone-e050d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:723237587957:ios:b1bea0a66c40662f5caebc</string>
</dict>
</plist>